nav {
    transition: all 0.3s ease;

    #mobile-menu {
        .inner__mobile__menu {
            display: flex;
            position: fixed;
            width: 80%;
            padding: 1rem;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            // background: url('./assets/bgIMG.png');
            background-repeat: repeat;
            background-size: cover;

            box-shadow: -100px 0 20px rgba(168, 168, 168, 0.25);
        }
    }
}

header {
    .hero {
        .animation-image {
            position: relative;
            animation: updown 3s infinite;
        }
    }
}

@keyframes updown {
    0% {
        top: -15px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: -15px;
    }
}
